/*General Component container*/
.profile {
  width: 420px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 12px -1px rgba(188,192,194,1);
  margin-top: 2200px;
}

.basicInfo {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #122236;
}

.tag,
.location {
  font-weight: normal;
  margin-top: 10px;
  font-size: 20px;
  color: #7d8690;
}

.avatar {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 50%;
  background-color: #f4f6f9;
}

.stats {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #f4f6f9;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: 1px solid #D7DBE1;
}

.statsElement {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.label {
  margin-bottom: 5px;
  font-size: 18px;
  color: #7d8690;
}

.quantity {
  font-size: 24px;
  font-weight: bold;
  color: #122236;
}
