.friendList{
    width: 420px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friendElement{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 12px -1px rgba(188,192,194,1);
    border-radius: 8px;
}

.isOnline{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: green;
}

.isOffline{
    composes: isOnline;
    background-color: red;
}

.avatar{
    width: 80px;
    background-color: #F3F6F9;
    border-radius: 8px;
    padding: 5px;
}

.name{
    font-size: 30px;
}